<div class="row">
    <div class="col-md-12 text-center">
        <h2>Tv Shows</h2>
    </div>
    <div class="offset-md-1 col-md-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th (click)="sortTable('show.name')" style="width: 20%">Name
                        <span *ngIf="shouldShowCaret('show.name')" [ngClass]="getCaretClass()"></span></th>
                    <th style="width: 20%">Image</th>
                    <th (click)="sortTable('show.rating.average')" style="width: 10%">Rating
                        <span *ngIf="shouldShowCaret('show.rating.average')" [ngClass]="getCaretClass()"></span></th>
                    <th style="width: 40%">Summary</th>
                    <th style="width: 10%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" placeholder="{{ 'Filter by name' }}" class="form-control" (input)="search()"
                            [(ngModel)]="searchTerm">
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr *ngFor="let elem of tvShowList | orderBy: currentSort.sortColumn : currentSort.isReversed(): true">
                    <td>
                        {{elem.show.name}}
                    </td>
                    <td>
                        <div *ngIf="elem.show.image?.medium" class="tableImageWrapper text-center">
                            <img [src]="elem.show.image.medium">
                        </div>
                    </td>
                    <td>
                        {{elem.show.rating.average}}
                    </td>
                    <td [innerHTML]="elem.show.summary"></td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-primary" routerLink="form/{{elem.show.externals.thetvdb}}">
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>